<div class="row-fluid">
  <div class="span10 offset1">
    <section class='accordion' id='feeds'>
      <div class='accordion-group'>
        <div class='accordion-heading'>
          <%= link_to '#create-site', class: 'accordion-toggle', data: { toggle: 'collapse', parent: '#feeds' } do %>
            <i class="icon-globe icon-white"></i> Create your site
          <% end %>
        </div>
        <div id='create-site' class='accordion-body collapse'>
          <div class="accordion-inner">
            <p> hey :) </p>
          </div>
        </div>
      </div>
      <div class='accordion-group'>
        <div class='accordion-heading'>
          <%= link_to '#create-property', class: 'accordion-toggle', data: { toggle: 'collapse', parent: '#feeds' } do %>
            <i class="icon-eye-open icon-white"></i> Create your property
          <% end %>
        </div>
        <div id='create-property' class='accordion-body collapse'>
          <div class="accordion-inner">
            <p> hey :) </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
