/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Variables
$navbarCollapseWidth: 767px;
$navbarBackgroundHighlight: #343131;
$navbarText: #9fa4a7;
$navbarLinkColor: #9fa4a7;
$navbarLinkColorHover: #bfc5c9;
$navbarLinkColorActive: #fff;
$navbarBrandColor: #fbc001;
$navbarHeight: 35px;

@import "bootstrap";
@import "bootstrap-responsive";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
}

body.feeds {
  color: #333;
  background-color: #1b70b9;
}

body.properties {
  color: #6a6a6a;
  background-color: #1b70b9;
  #content {
    padding: 25px 10px 1px 10px;
    .well {
      background: #fafdff;
    }
    .well.error {
      background: #b94a48;
      color: #fff;
    }
  }
}

.help_container{
  display: none;
}

.google-map {
  height: 300px;
  position: relative;
  img, object, embed {
    max-width: none;
  }
  label {
    width: auto;
    display:inline;
  }
}

.navbar .nav li.link-to-site {
  font-size:10px;
  line-height:12px;
  padding-top: 5px;
  color: #fff;
  a {
   display: inline;
   padding: 0;
  }
}

#properties-search {
  text-align: center;
}

#property-edit {
  section {
    padding: 10px;
    position: relative;
    .switch {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

#properties-empty {
  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #bbb;
    text-align: center;
  }
}

#feeds-empty {
  padding: 100px 0 0 0;
  h2 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    color: #093E60;
    text-align:center;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    @include opacity(0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
    height: 30px;
    line-height: 30px;
    width: auto;
  }
}

.accordion {
  margin-top: 70px;
  .accordion-group {
    background: #115685;
    margin: 10px 0px;
    border: 1px solid #165783;
    @include border-radius(5px);
    .accordion-heading {
      padding: 10px 0px;
      @include gradient-vertical(#166fab, #15679f);
      @include box-shadow(0 1px 1px 0 rgba(255,255,255,0.15));
      @include border-radius(5px);
      a.accordion-toggle {
        i {
          margin-top: 3px;
        }
        color: #fff;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .accordion-body {
      .accordion-inner {
        margin: 10px;
        padding: 30px 20px 30px 20px;
        background: #fffff9;
        @include border-radius(7px);
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 35px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  body {
    padding-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding: 0px;
  }
}

@media (max-width: 767px) {
}
