<%= render 'properties/menu' %>
<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-picture"></i> Gallery</h2>
    </div>
    <div class="box-content">
       <%= link_to 'Destroy', property_photo_path(@property, @photo),
            confirm: 'Are you sure?', method: :delete,
            data: { ajax: true }, class: 'btn btn-danger' %>
       <%= link_to 'Back', property_photos_path(@property), data: { ajax: true }, class: 'btn' %>
       <hr>
       <%= image_tag @photo.image.url %>
    </div>
  </div><!--/span-->
</div><!--/row-->
