<div class="help_container">
  <p>You're seeng this page because you are trying to open a new account with your Google account.</p>
  <p>Don't worry, if you already have a LoveBnB account you'd like to attach this Google account to just
  <%= link_to("cancel this registration", registration_path(current_user), :method => :delete) %> and
  sign in as normal. Choose the 'connect to Google' option from the top right drop down menu.</p>
</div>
