<form class='form-vertical' name='form' ng-controller='PropertyTitleController'>
  <div class='row-fluid'>
    <div class='span12'>
      <h4>Edit > {{property_cached.title}}</h4>
    </div>
  </div>
  <hr>
  <div class='row-fluid'>
    <div class='span12'>
      <field value='property.title' class='span12' required> Title: </field>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span12 well'>
      <p> Preview: </p>
      <hr>
      <h2> {{property.title}} </h2>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span12'>
      <div class="form-actions">
        <a href ng-click="save()" class='btn btn-success'>Save</a>
        <a href ng-click="reset()" class='btn btn-inverse'>Reset</a>
        <a href ng-click="cancel()" class='btn btn-inverse'>Cancel</a>
      </div>
      <ul ng-show="server_errors" ng-hide='property.errors.length == 0'>
        <li ng-repeat='message in property.errors'>{{message}}</li>
      </ul>
    </div>
  </div>
</form>
