<form novalidate class='form-horizontal' name='form' ng-controller='FeedsPropertyCalendarNewController'>
  <fieldset>
    <field value='model.provider' required> Provider: </field>
    <field value='model.path' required> Path: </field>
  </fieldset>
  <div class="form-actions">
    <a href ng-click="save()" class='btn btn-success'>Save</a>
    <a href ng-click="cancel()" class='btn btn-inverse'>Cancel</a>
  </div>
  <ul ng-show="server_errors" ng-hide='model.errors.length == 0'>
    <li ng-repeat='message in model.errors'>{{message}}</li>
  </ul>
</form>
