<%= link_to property_path(@property), data: { ajax: true }, class: 'quick-button span2' do %>
  <i class="fa-icon-cogs"></i>
  <p>Details</p>
<% end %>
<%= link_to property_calendars_path(@property), data: { ajax: true }, class: 'quick-button span2' do %>
  <i class="fa-icon-calendar"></i>
  <p>Calendar</p>
<% end %>
<a class="quick-button span2">
  <i class="fa-icon-camera"></i>
  <p>Photos</p>
</a>
<a class="quick-button span2">
  <i class="fa-icon-retweet"></i>
  <p>Directions</p>
</a>
<a class="quick-button span2">
  <i class="fa-icon-book"></i>
  <p>Articles</p>
</a>
<div class="clearfix"></div>

<hr>
