<div class="row-fluid sortable">
  <div class="row-fluid sortable">
    <%= render :layout => 'widgets/box', :locals => {h2: 'Edit your property'} do %>
      <%= render 'properties/form' %>
    <% end %>
  </div>
</div><!--/row-->

