<div class="clearfix"></div>

<footer>
  <p>
    <span style="text-align:left;float:left">&copy; <a href="http://clabs.co" target="_blank">creativeLabs</a> 2012</span>
    <span style="text-align:right;float:right">Powered by: <a href="#">Perfectum Dashboard</a></span>
  </p>
</footer>
