<div id='page-1'>
  <div class='container'>
    <div class="row">
      <div class="span12">
        <h1 class='main-title'>Use LoveBNB to manage and market your Holiday Rental.</h1>
        <div class='home-sign-up-form'>
          <%= form_for(@identity, {url: registration_index_path, html: {class: 'form-inline'}}) do |f| %>
            <%= f.email_field :email, class: "input-large", autocomplete: "off", placeholder: "Email" %>
            <%= f.password_field :password, class: "input-large", autocomplete: "off", placeholder: "Password" %>
            <%= f.submit 'Create your account', class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='page-2'>
  <div class='container'>
    <div class="row">
      <div class="span12">
        <h1 class='main-title'>Set up your Holiday Rental website in just a few easy steps</h1>
        <div class='tabbable  tabs-left'>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Select and customize your template</a></li>
            <li><a href="#tab2" data-toggle="tab">Upload your property details</a></li>
            <li><a href="#tab3" data-toggle="tab">Configure your website details</a></li>
            <li><a href="#tab4" data-toggle="tab">Start accepting orders worldwide</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <p>Select and customize your template image and text</p>
            </div>
            <div class="tab-pane" id="tab2">
              <p>Upload your property details image and text</p>
            </div>
            <div class="tab-pane" id="tab3">
              <p>Configure your website details</p>
            </div>
            <div class="tab-pane" id="tab4">
              <p>Start accepting orders worldwide</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='page-3'>
  <div class='container'>
    <div class="row">
      <div class="span12">
        <h1 class='main-title'>All the features you need to run your Holiday Rental business</h1>
        <p> LoveBNB takes the hassle out of managing and marketing online holiday rentals </p>
        <div class="row">
          <div class='span6'>
            <h2>Online availability calendar</h2>
          </div>
          <div class='span6'>
            <h2>Website platform</h2>
          </div>
        </div>
        <div class="row">
          <div class='span6'>
            <h2>Online Enquiries and bookings</h2>
          </div>
          <div class='span6'>
            <h2>Channel manager</h2>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class='span12'>
            <h2>Responsivly designed and build to work on all web browsing devices</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='page-4'>
  <div class='container'>
    <div class="row">
      <div class="span12">
        <h1 class='main-title'>Try LoveBNB for 30 days free, without a credit card</h1>
        <p> After your trial ends, pick a plan that best fits you needs </p>
        <table class='table'>
          <thead>
            <tr>
              <th></th>
              <th>Most popular</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>Solo</th>
              <th>Basic</th>
              <th>Profesional</th>
              <th>More?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>£ 9/month</td>
              <td>£ 18/month</td>
              <td>£ 36/month</td>
              <td></td>
            </tr>
            <tr>
              <td>1 property</td>
              <td>2 - 5 properties</td>
              <td>6 - 19 properties</td>
              <td>20+ properties</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Contact Us</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

