<div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-edit"></i><span class="break"></span><%= h2 %></h2>
      <%= render :partial => 'widgets/box-icon' %>
    </div>
    <div class="box-content">
      <%= yield %>
    </div>
  </div><!--/span-->
</div><!--/row-->
