<form class='form-horizontal' name='form' ng-controller='FeedsPropertyNewController'>
  <fieldset>
    <field value='model.title' required> Title: </field>
    <field value='model.description' required type='textarea' rows='3'> Description: </field>
    <fieldset>
      <legend>Address</legend>
      <field value='model.address.address'   required change='check_address()'> Street: </field>
      <field value='model.address.city'      required change='check_address()'> City: </field>
      <field value='model.address.country'   required change='check_address()'> Country: </field>
      <field value='model.address.post_code' required change='check_address()'> Post code: </field>
      <google-map map-id='property_google_map' address='model.address' addresses='addresses'></google-map>
    </fieldset>
  </fieldset>
  <div class="form-actions">
    <a href ng-click="save()" class='btn btn-success'>Save</a>
    <a href ng-click="cancel()" class='btn btn-inverse'>Cancel</a>
  </div>
  <ul ng-show="server_errors" ng-hide='model.errors.length == 0'>
    <li ng-repeat='message in model.errors'>{{message}}</li>
  </ul>
</form>
