<form class='form-horizontal' name='form' ng-controller='FeedsSiteNewController'>
  <fieldset>
    <field value='model.subdomain' append='.lovebnb.com' class='input-medium' required> Website domain: </field>
    <fieldset>
      <legend>Contact Details for customers</legend>
      <field type='email' value='model.email' required> Email: </field>
      <field type='tel' value='model.phone' required> Phone: </field>
    </fieldset>
    <fieldset>
      <legend>Address</legend>
      <field value='model.address.address'   required change='check_address()'> Street: </field>
      <field value='model.address.city'      required change='check_address()'> City: </field>
      <field value='model.address.country'   required change='check_address()'> Country: </field>
      <field value='model.address.post_code' required change='check_address()'> Post code: </field>
      <google-map map-id='site_google_map' address='model.address' addresses='addresses'></google-map>
    </fieldset>
  </fieldset>
  <div class="form-actions">
    <a href ng-click="save()" class='btn btn-success'>Save</a>
    <a href ng-click="cancel()" class='btn btn-inverse'>Cancel</a>
  </div>
  <ul ng-show="server_errors" ng-hide='model.errors.length == 0'>
    <li ng-repeat='message in model.errors'>{{message}}</li>
  </ul>
</form>
