<form novalidate class='form-horizontal' name='form' ng-controller='FeedsPropertyPagesTermsNewController'>
  <fieldset>
    <field value='model.title' required> Title: </field>
    <field value='model.description' type='textarea' required> Description: </field>
  </fieldset>
  <div class="form-actions">
    <a ng-click="save()" class='btn btn-success'>Save</a>
    <a ng-click="cancel()" class='btn btn-inverse'>Cancel</a>
  </div>
  <ul ng-show="server_errors" ng-hide='model.errors.full_messages.length == 0'>
    <li ng-repeat='message in model.errors.full_messages'>{{message}}</li>
  </ul>
</form>
