<div id='page-1'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class='main-title'>Password Change Request</h1>
        <div class='sign-form'>

           <p>An email with details on changing your password has been sent to <%= flash[:email] %></p>

        </div>
      </div>
    </div>
  </div>
</div>
