<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">LoveBNB</a>
        <ul class="nav pull-right">
          <li class='link-to-site' ng-show='current_site.subdomain'>
            Open website <br> <a ng-href='http://{{current_site.subdomain}}.lovebnb.com' href>{{current_site.subdomain}}.lovebnb.com</a> →
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown"> 
            <a href='#' id='user-dropdown' class='dropdown-toggle' data-toggle='dropdown'>
              {{current_user.name}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-hide='current_user.google_identity'>
                <a href="/auth/google_oauth2"><i class="icon-share"></i> Connect to Google</a>
              </li>
              <li>
                <a href='#/account_settings'> <i class="icon-user"></i> Account Settings</a>
              </li>
              <li>
                <a href='/session/sign_out'> <i class="icon-off"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href='#'>Home</a></li>
            <li><a href='#/properties'>Properties</a>
            <li><a href='#/settings'>Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<% if current_user %>
  <meta name="current-user" content="<%= UserSerializer.new(current_user).to_json(root: false) %>" />
  <meta name="site"         content="<%= SiteSerializer.new(current_user.sites.first).to_json(root: false) %>" />
  <div id='content' ng-view></div>
<% end %>
<footer> </footer>

