<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2>
        <i class="icon-edit"></i>
        <span class="break"></span>
        Welcome to loveBNB! There are N steps to complete before you launch!
      </h2>
    </div>
    <div class="box-content">
      <% if current_user.sites.count == 0 %>
        <div class="row-fluid">
          <div class="span5" style='background:#c0c0c0;'>
            <br> <br> <br> <br> <br> <br> <br> <br>
            <br> <br> <br> <br> <br> <br> <br> <br>
          </div>
          <div class="span7">
            <h3>Next Step: Add your Site details</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
              dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo
              eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra
              ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit
              amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula.
              Pellentesque non pulvinar nisi.
            </p>
            <p align='right'><%= link_to 'Complete Step', new_site_path, class: 'btn btn-primary', data: { ajax: true } %></p>
          </div>
        </div>
      <% elsif current_user.properties.count == 0 %>
        <div class="row-fluid">
          <div class="span5" style='background:#c0c0c0;'>
            <br> <br> <br> <br> <br> <br> <br> <br>
            <br> <br> <br> <br> <br> <br> <br> <br>
          </div>
          <div class="span7">
            <h3>Next Step: Add your Property details</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
              dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo
              eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra
              ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit
              amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula.
              Pellentesque non pulvinar nisi.
            </p>
            <p align='right'><%= link_to 'Complete Step', new_property_path, class: 'btn btn-primary', data: { ajax: true } %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->

