<% if flash[:notice] %>
  <span class="flash-notice"><%= flash[:notice] %></span>
  <script>
    $("span.flash-notice").each(function(){
      noty({
        text: $(this).html(),
        layout:'topCenter',
        animateOpen: { opacity: 'show' },
        type: 'success'
      });
    }).hide();
  </script>
<% end %>
<% if flash[:alert] %>
  <span class="flash-alert"><%= flash[:alert] %></span>
  <script>
    $("span.flash-alert").each(function(){
      noty({
        text: $(this).html(),
        layout:'topCenter',
        animateOpen: { opacity: 'show' },
        type: 'error'
      });
    }).hide();
  </script>
<% end %>
<% unless notifications.empty? %>
  <% notifications.each do |notification| %>
    <span class="notification"><%= notification %></span>  
  <% end %>
  <script>
    $("span.notification").each(function(){
      noty({
        text: $(this).html(),
        layout:'topCenter',
        animateOpen: { opacity: 'show' },
        type: 'error'
      });
    }).hide();
  </script>
<% end %>


