<div class="span2 main-menu-span">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      
      <li>
        <%= link_to dashboard_index_path do %>
          <i class="icon-eye-closed icon-white"></i><span class="hidden-tablet"> Dashboard</span>
        <% end %> 
      </li>
            
      <li>
        <%= link_to properties_path do %>
          <i class="icon-eye-closed icon-white"></i><span class="hidden-tablet"> Properties</span>
        <% end %> 
      </li>

      <li><a href="#" class="disabled"></a></li>    
    </ul>
  </div><!--/.well -->
</div><!--/span-->

