<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'anonymous' %> 
    <%= javascript_include_tag "anonymous" %>
  </head>
  <body id="anonymous">
    
    <%= yield %>

    <%= render partial: 'layouts/flash', locals: { flash: flash } %>

  </body>
</html>  
